.create-card {
  align-items: center;
  padding: 10%;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  color: #000;
}